main {
  background-color: $color-lightgrey;
  .jumbo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    .container {
      .info {
        padding-top: 90px;
        @include flex-start;
        flex-direction: column;
        img {
          width: 20%;
        }
        .title {
          font-size: 21px;
        }
      }
    }
  }
  .container {
    h1 {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .container-cards {
      @include flex-center-space-between;
      .cards {
        background-color: #ffffff;
        img {
          width: 420px;
        }
      }
    }
  }
}
