* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.blue {
  color: #009cff;
}

.white {
  color: #ffffff;
}

.pink {
  color: #cc397f;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.my-5 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.px-5 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-5 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pt-5 {
  padding-top: 1em;
}

header {
  background-color: #101010;
}
header .container .navbar-top {
  width: 95%;
}
header .container .navbar-top ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container .navbar-top ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5b6d6d;
  font-size: 13px;
}
header .container .navbar-top ul li i {
  color: #0292fb;
  padding-right: 0.5em;
}
header .container .navbar-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .container .navbar-menu ul li img {
  width: 75%;
  padding-right: 1em;
}
header .container .navbar-menu ul li a {
  color: #ffffff;
  padding-right: 4em;
  font-size: 14px;
}

main {
  background-color: #e6e6e6;
}
main .jumbo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
main .jumbo .container .info {
  padding-top: 90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
main .jumbo .container .info img {
  width: 20%;
}
main .jumbo .container .info .title {
  font-size: 21px;
}

footer {
  background-color: #101010;
}
